on:
  push:
    branches:
      - master

name: Build Godot Project

jobs:
  Godot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [Linux Server, Linux Client, Windows Client,macOS Client]
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      
      - name: Write server_config.json
        run: |
          cat << 'EOF' > server_config.json
          ${{ secrets.SERVER_CONFIG_JSON }}
          EOF

      - name: Build
        id: build
        uses: manleydev/build-godot-action@v1.4.1
        with:
          name: example
          preset: ${{ matrix.platform }}
          debugMode: "true"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Client - ${{ matrix.platform }}
          path: ${{ github.workspace }}/${{ steps.build.outputs.build }}