on:
  push:
    branches:
      - master

name: Build Godot Project

env:
  GODOT_VERSION: 4.4.1
  EXPORT_NAME: WorldWriters
  PROJECT_PATH: .

jobs:
  Godot:
    name: Build
    runs-on: ubuntu-24.04  
    strategy:
      matrix:
        platform: [Linux Server, Linux Client, Windows Client,macOS Client]
    container:
      image: barichello/godot-ci:4.4.1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mkdir -v -p ~/.config/
          mv /root/.config/godot ~/.config/godot
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Set export filename
        shell: bash
        run: |
          case "${{ matrix.platform }}" in
            "macOS Client")
              echo "EXPORT_FILE=${EXPORT_NAME}.app" >> $GITHUB_ENV
              ;;
            "Windows Client")
              echo "EXPORT_FILE=${EXPORT_NAME}.exe" >> $GITHUB_ENV
              ;;
            *)
              echo "EXPORT_FILE=${EXPORT_NAME}" >> $GITHUB_ENV
              ;;
          esac
      - name: Write server_config.json
        run: |
          cat << 'EOF' > server_config.json
          ${{ secrets.SERVER_CONFIG_JSON }}
          EOF
      - name: ${{ matrix.platform }} Build
        run: |
          mkdir -v -p "build/${{ matrix.platform }}"
          EXPORT_DIR="$(readlink -f build)"
          cd $PROJECT_PATH
          godot --headless --verbose --export-release "${{ matrix.platform }}" "$EXPORT_DIR/${{ matrix.platform }}/$EXPORT_FILE"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.platform }}
          path: build/${{ matrix.platform }}
